@keyframes waveAnimation {
  0% {
    /* background-position: 0 0; */
    /* background: linear-gradient(90deg, #395144 0%, #4f6f52 25%, #395144 50%, #4f6f52 75%, #395144 100%); */
    background-color: var(--primary);
  }
  50% {
    /* background: linear-gradient(90deg, #395144 0%, #4f6f52 25%, #395144 50%, #4f6f52 75%, #395144 100%); */
    background-color: white;
  }
  100% {
    /* background-position: 1000px 0; */
    background-color: var(--primary);
  }
}

.wave-background {
  /* background: linear-gradient(90deg, #395144 0%, #4f6f52 25%, #395144 50%, #4f6f52 75%, #395144 100%); */
  /* background-size: 1000px 100%; */
  animation: waveAnimation 4s linear infinite;
}
